*{
    margin: 0;
    padding: 0;
}

/* flex-content-1 */
.flex-content-1{
    width: 500px;
    height: 500px;
    border: 3px dotted red;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-item-1{
    padding: 10px;
    background-color: green;
    border: 1px solid #999;
    text-align: center;  
}

/* flex-content-2 */
.flex-content-2{
    width: 900px;
    height: 200px;
    border: 2px solid green;
    margin:20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.flex-item-2{
    padding: 10px;
    border: 1px solid #999;
    background-color:red;
    text-align: center;
}

/* flex-content-3 */
.flex-content-3{
    width: 450px;
    height: 400px;
    border: 2px solid green;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
   
}
.flex-item-3{
    padding: 10px;
    border: 1px solid rgb(69, 162, 206);
    text-align: center;
    background-color:red;
}

/* flex-content-4 */
.flex-content-4{
    width: 900px;
    height: 500px;
    border: 3px dotted green;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
}
.flex-item-4 {
	padding: 10px 141px 10px 0px;
	border: 1px solid rgb(167, 185, 88);
	background-color: #fd0000;
	color: #fff;
	text-align: right;
}

/* flex-content-5 */
.flex-content-5{
    width: 900px;
    height: 500px;
    border: 3px dotted green;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
}
.flex-item-5 {
	padding: 10px 141px 10px 0px;
	border: 1px solid rgb(167, 185, 88);
	background-color: #fd0000;
	color: #fff;
	text-align: right;
}
.flex-item-5:nth-child(3){
    align-self: flex-end;
}
.flex-item-5:nth-child(4){
    align-self: center;
}

/* flex-content-6 */
.flex-content-6{
    width: 1100px;
    height: 500px;
    border: 3px dotted green;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    
   
}
.flex-item-6 {
	padding: 10px;
	border: 1px solid rgb(167, 185, 88);
	background-color: #fd0000;
	text-align: right;
}